<div class="conf">
	<div id="notice">
		<div class="contents">
			<h2 class="subtitle">config</h2>

			<div>
				<p>通知のON,OFF、通知の削除などができます。
					<br>以下に登録したメールアドレスを入力して下さい。
				</p>
			</div>
			<br>

			<form class="col s12">
				<div class="row">
					<div class="input-field col s12">
						<i class="material-icons prefix">email</i>
						<input id="config_email" type="email" class="validate">
						<label for="email">Email</label>
					</div>
				</div>
				<button id="sys_button" type="submit" class="waves-effect waves-light btn-large">submit!</button>

			</form>
		</div>
	</div>
</div>




