<div class="main">
	<div class="notice">
		<div class="contents">
			<h2>notice</h2>
			<form action="POST"></form>
			<input type="">
			<input type="">
			<input type="">
			<input type="">
			<button></button>
		</div>
	</div>
	
	<div class="about">
		<div class="contents"></div>
		<h2>about</h2>
		<div class="about_sentence">
			<p>
			web漫画、webサイトの特定の記事、実況動画などが更新された時に、通知するサービスです。
			この実況者のこの実況、このブログのこのキーワードが使われている記事、のように特定の物が更新された時に通知します。
			</p>
		</div>
	</div>

	<div class="usage">
		<div class="contents">
			<h2>usage</h2>
			<div class="first">
				<div class="first_sentence">
					<p>
						更新されたら通知して欲しいページのURLと、そのページで登場したら通知して欲しいキーワードを用意します。
					それらをあなたのメールアドレスとともに入力します。	
					</p>		
				</div>
			</div>
			<div class="second">
				<div class="second_sentence">
					<p>
						あとは待つだけです。
						指定したURLのページであなたの用意したキーワードが登場した時に、あなたのメールアドレスに通知が来るでしょう。
						キーワードが数字のように連番の時は自動で次回も通知することが可能です。	
					</p>
				</div>
			</div>
		</div>
	</div>

	<div class="contact">
		<div class="contents">
			<h2>contact</h2>
		</div>
	</div>


</div>
