<!DOCTYPE>
<html>
<head>
  <title>notice web</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
	<script type="text/javascript" src="/jquery-2.1.4.min.js"></script>
	<script type="text/javascript" src="/script.js"></script>
</head>
<body>
	<div class="header">
		<div class="fixbar">
			<h2 class="bar_title">notice web</h2>
			<ul>
				<li class="tab">notice</li>
				<li class="tab">about</li>
				<li class="tab">usage</li>
				<li class="tab_last">contact</li>
			</ul>
		</div>
		<div class="header_top">
			<h1 class="title">notice web</h1>
		</div>
	</div>

	<%= yield %>

	<footer></footer>
</body>	
</html>

