<!DOCTYPE>
<html>
	<head>
		<title>notice web</title>
		<link rel="stylesheet" type="text/css" href="/style.css">
		<script type="text/javascript" src="/jquery-2.1.4.min.js"></script>
		<script type="text/javascript" src="/script.js"></script>
	</head>
	<body>
		<div class="header">
			<div class="fixbar">
				<h1 class="bar_title">notice web</h1>
				<ul type=a>
					<li class="link_div"><a href="#notice" class="link">notice</a></li>
					<li class="link_div"><a href="#about" class="link">about</a></li>
					<li class="link_div"><a href="#usage" class="link">usage</a></li>
					<li class="link_div"><a href="#contact" class="link">contact</a></li>
				</ul>
			</div>
			<div class="header_top">
				<h1 class="title">notice web</h1>
			</div>
		</div>

		<%= yield %>

		<div class="footer"></div>
	</body>	
</html>

