<!DOCTYPE>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>notice web</title>
<link rel="stylesheet" type="text/css" href="/materialize/css/materialize.css">
<link rel="stylesheet" type="text/css" href="/style.css">
<script type="text/javascript" src="/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="/materialize/js/materialize.js"></script>
<script type="text/javascript" src="/material.js"></script>
<script type="text/javascript" src="/script.js"></script>
<script type="text/javascript" src="/footerFixed.js"></script>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>

<div class="navbar-fixed">
	<nav>
		<div class="nav-wrapper">
			<a href="/" class="brand-logo center">notice web</a>
			<a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
			<ul class="right hide-on-med-and-down hide-on-med-and-down">
				<li><a href="#notice" class="link">notice</a></li>
				<li><a href="#about" class="link">about</a></li>
				<li><a href="#usage" class="link">usage</a></li>
				<li><a href="#contact" class="link">contact</a></li>
				<li><a href="/config">config</a></li>
			</ul>
			<ul class="side-nav" id="mobile-demo">
				<li><a href="/">home</a></li>
				<li><a href="/config">config</a></li>
			</ul>
		</div>
	</nav>
</div>

<%= yield %>

<div id="footer">
	<footer class="page-footer">
		<div class="container">
			<div class="row">
				<div class="col l6 s12">
					<h5 class="white-text">Content</h5>
					<p class="grey-text text-lighten-4" style="font-size: 15">
					このサービスは一人の学生が趣味によって運用しております。
					<br>ご不明な点などがありましたら、contactより製作者に連絡してくださるとありがたいです。
					</p>
				</div>
				<div class="col l4 offset-l2 s12">
					<h5 class="white-text">Links</h5>
					<ul>
						<li><a class="grey-text text-lighten-3" href="https://github.com/g-hyoga/notice">github</a></li>
						<li><a class="grey-text text-lighten-3" href="https://www.facebook.com/profile.php?id=100009462139433">製作者facebook</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="footer-copyright">
			<div class="container">
				© 2016 Hyoga Yoshida All rights reserved.
				<a class="grey-text text-lighten-4 right" href=""></a>
			</div>
		</div>
	</footer>
</div>

</body>	
</html>

