body {
	background-color: #F2F2F2;
	/*padding: 25% 0 5% 0;*/
	margin: 0;
	height: 100%;
}
 
.header_top {
	background-color: #E08170;
	height: 185;
	width: 100%;
}

.title {
	color: #F2F2F2;
	text-align: center;
	font-size: 123px;
	padding-top: 20;
	margin: 0;
}

.fixbar {
	position: fixed;
	background-color: #E08170;
	height: 95;
	width: 100%;
	visibility: hidden;
}

.bar_title {
	margin: 0;
	text-align: center;
	color: #F2F2F2;
}

.fixed {
	z-index: 10000;
	visibility: visible;
}

.link{
	color: #F2F2F2;
	text-decoration: none;
}

ul {
	padding: 0;
	margin: 0 auto;
}

li {
	display:inline-block;
	text-align: center;
}

#footer {
	background-color: #E08170;
	height: 25;
	width: 100%;
}

.progress {
	visibility: hidden;
	margin: 0;
	position: fixed;
} 


/*home*/

#notice, #about, #contact {
	width: 100%;
	text-align: center;
	margin: 70 0;
} 

#usage {

}

.subtitle {
	color: #E08170;
	margin: 10 10 10 0;
	display: inline-block;
	font-size: 50;
}

p {
	display: inline-block;
	color: #E08170;
	margin: 0;
	font-size: 30;
}

.contents {
	position: relative;
	width: 60%;
	margin: 100px auto;
	text-align: left;
}

.img_div {
	float: left;
}

.first_sentence {
	float: none;
	margin: auto 0;
}

.para {
	display: block;
	color: #5E5D5D;
	font-size: 20;
}

#hoge {
	width: 100%
	height: 1;
}

.btn-large {
	background-color:  #E08170;
}
.btn-large:hover {
	background-color:  #E08170;
}

.adsense {
	text-align: center;
}

/*config.erb*/

#config-wrapper {
	margin: 10 auto;
}

.url {
	text-decoration: underline;
	color: #5E5D5D;
}

.mdl-snackbar {
	left: 80%;
}

/*config_start.erb*/

.conf {
	margin: auto;
}



/*phone*/

@media screen and ( max-width:479px ){
	.contents {
		position: relative;
		width: 90%;
		margin: 10px auto;
		text-align: left;
	}	

	#img_1 {
		width: 300;	
	}

	#img_2 {
		width: 210;	
	}

	.img_div {
		text-align: center;
		float: none;
	}


	p {
		display: inline-block;
		color: #E08170;
		margin: 0;
		font-size: 15;
	}

	.para {
		display: block;
		color: #5E5D5D;
		font-size: 15;
	}

	.mdl-snackbar {
		width: 300;
		left: 50%;
	}

}

